
@{
    ViewBag.Title = "Search";
}

<h2>Search for a Student</h2>

@* Search for a student based on Student ID number *@


<form action="/Student/Show/@Model.StudentId" method="POST">


    <input type="number" />
    <input type="submit" value="FindStudent">
</form>

