@model IEnumerable<SchoolDatabase.Models.Teacher>
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<p>This page should show information about all teachers</p>

@foreach(SchoolDatabase.Models.Teacher teacher in Model){

    <div><a href="/Teacher/Show/@teacher.TeacherId">@teacher.TeacherFname @teacher.TeacherLname</a></div>


}