@model IEnumerable<SchoolDatabase.Models.Teacher>
@{
    ViewBag.Title = "Teacher List";
}
<nav>
    <a href="/Teacher/Add">Add Teacher</a>
</nav>

<h2>List</h2>
<p>This page should show information about all teachers</p>

@foreach(SchoolDatabase.Models.Teacher teacher in Model){

    <div><a class="lists" href="/Teacher/Show/@teacher.TeacherId">@teacher.TeacherId - @teacher.TeacherFname @teacher.TeacherLname</a></div>


}